<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	  <!-- xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"> -->
<head>
	<title>Cadastro</title>
</head>
	<body>
		
		<header>
			<h3>Cadastro de Usuários</h3>
		</header>
		
		<form th:action = "@{/cadastroRepublica}" th:object = "${republica}" method="POST">
		
			<label>Nome:</label>
		    <input th:field= "*{nome}" type="text" name="nome_republica" id="nome_republica">
			Email:<br><input th:field = "*{email}" type="email" name="username" id="username"><br>
			Endereco:<br><input th:field = "*{endereco}" type="text" name="enderco" id="endereco"><br>
			Lotacao:<br><input th:field = "*{lotacao}" type="number" name="lotacao" id="lotacao"><br>
			Valor das Despesas:<br><input th:field = "*{valorDespesas}" type="number" name="valorDespesas" id="valorDespesas"><br>
			Valor do Alugel:<br><input th:field = "*{valorAlugel}" type="number" name="valorAluguel" id="valorAluguel"><br>
			<br>
			<button type="submit">Cadastrar sua republica</button>
			
		</form>
	
	</body>

</html>